<h1>Generate a daily implimentation plan</h1>

    <form>
        <label for="behaviour1">Behaviour 1: hitting the head on the wall <label>
            <input id="behaviour1" type="text" name="behaviour1" >
            <select id="intensity" name="intensity">
                    <option value="small">small</option>
                    <option value="small">medium</option>
                    <option value="small">Large</option>
            <label for="behaviour2">Behaviour 2: hitting the head on the wall <label>
            <input id="behaviour2" type="text" name="behaviour1" >
                
                <label for="behaviour3">Behaviour 1: hitting the head on the wall <label>
            <input id="behaviour3" type="text" name="behaviour1" >
    </form>